
<h1>Cocktails</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Image url</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>

        <!-- <td><%#= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "Create cocktail", new_cocktail_path %></p>

<br>